.RadioGender {
	cursor: pointer;

	&-btnFemale {
		position: absolute;
  		z-index: -1;
  		opacity: 0;
  		margin: 10px 0 0 7px;

  	&--btnMale {
		margin: 10px 0 0 20px;
	}
	}

	&-searchIconWrap {
		
		&--iconPosition{
			margin: 0 10px 0 13px;
		}
	}

	&-lookForText {

		&--textMargin {
			margin-right: 10px;
		}
	}

  	&-newButton {
		position: relative;
 		padding: 5px 0 0 46px;
			
  	&::before {
		content: '';
		position: absolute;
		top: -3px;
		left: 0;
		width: 45px;
		height: 34px;
		border: 1px solid #947024;
		border-radius: 30px 0 0 30px;
		background: linear-gradient(to top, #e7e7e7, #FFF);
	}	

	&::after {
	    content: url('../../dist/Pictures/Icon/Btn/IconWhiteGirl.png');
	    position: absolute;
	    top: -2px;
	    left: 1px;
	    width: 45px;
		height: 32px;
	    border-radius: 30px 0 0 30px;
	    background: linear-gradient(to top, #ffad03, #f98a1b);
	    box-shadow: inset 2px 3px 3px 0px rgba(180,97,22,.6);
	    opacity: 0;
	    transition: .2s;
	    padding-top: 2px;
	}
	
	&--newBtnTwo {

		padding: 5px 0 0 46px;

		&::before {
			border-radius: 0 30px 30px 0;
		}

		&::after {
			content: url('../../dist/Pictures/Icon/Btn/IconWhiteBoy.png');
			border-radius: 0 30px 30px 0;
			box-shadow: inset 1px 1px 4px 2px rgba(180,97,22,.6);
		}
	}
}
 
	&-iconBoy {
		position: absolute;
		left: 15px;
    	top: 1px;
	}

	&-iconGirl {
		position: absolute;
		left: 17px;
    	top: 1px;
    }

	.RadioGender-btnFemale:checked + .RadioGender-newButton::after {
  		opacity: 1;
  		display: flex;
    	justify-content: center;
    	align-items: center;
	}
}