.UserList {
	
	&-tabWrap .active {
		border-bottom: 1px solid #fff;
		color: #ffa352;
	}

	&-tabs {
		display: flex;
	}

	&-tab {
		cursor: pointer;
		border: 1px solid #ddd;
		border-radius: 6px 6px 0px 0px;
		padding: 0.5em 1em;
		display: inline-block;
		margin-bottom: -1px;
	}

	&-tabContent {
		border: 1px solid #ddd;
		border-radius: 5px 5px 5px 5px;
		padding: 0 1em;
	}

}